<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickPassUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickPassUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

	<log4net>
		<appender name="TestAppender" type="log4net.Appender.RollingFileAppender">
			<file value="D:\quickpass.log"/>
			<encoding value="utf-8"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level [%thread] %type.%method - %message%n"/>
			</layout>
		</appender>
		<root>
			<level value="All"/>
			<!-- If the following line is not included the log file will not be created even if log4net is configured with this file. -->
			<appender-ref ref="TestAppender"/>
		</root>
	</log4net>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <QuickPassUpload.Properties.Settings>
            <setting name="filepath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="destinpath" serializeAs="String">
                <value>Z:\</value>
            </setting>
            <setting name="backuppath" serializeAs="String">
                <value>Z:\</value>
            </setting>
        </QuickPassUpload.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <QuickPassUpload.Properties.Settings>
            <setting name="timeout" serializeAs="String">
                <value>10000</value>
            </setting>
        </QuickPassUpload.Properties.Settings>
    </userSettings>
</configuration>